<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Permanent+Marker&display=swap" rel="stylesheet">
  </head>
  <body>

        <h1><%= title %></h1>
        <div>
        <form action="/inscription" method="post">
            <div><input type="text" name="lastName" placeholder="Nom" value=""></div>
            <div><input type="text" name="firstName" placeholder="Prénom" value=""></div>
            <div><input type="text" name="age" placeholder="Age" value=""></div>        
            <button>Appuyez sur le bouton et sauvez un Héro !</button>
        </form>
        </div>
        <h1>Liste des Héros sauvegardés</h1>
        <% for (var i=0; i<users.length; i++) {
        %>
            <h2><%= users[i].firstName %> <%= users[i].lastName %></h2>
        <%
        }
        %>
  </body>
</html>
